@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for the search input and property type input */
.search-input:hover + .input-sep {
  display: none;
}

/* Hide the separator when the input is focused */
.property-type-input:hover + .property-sep {
  display: none; 
}

/* Scrollbar customization */
/* Apply to the scrollable container */
.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
  background: #dedede;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
  height: 3px;
  transition: background 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #666;
}

/* Custom styles for Swiper bullets */
/* .custom-swiper .swiper-pagination-bullet {
  @apply bg-white opacity-100 w-2 h-1 mx-1 rounded-full transition-all duration-200;
}

.custom-swiper .swiper-pagination-bullet-active {
  @apply bg-gray-400 scale-110;
} */
.custom-swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  @apply flex justify-center items-center;
}

.swiper-pagination-bullet {
  @apply bg-gray-400 w-2 h-2 mx-0.5 rounded-full opacity-100;
}

.swiper-pagination-bullet-active {
  @apply bg-black;
}